<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Órdenes de movilización</h4>
          <h5 class="card-subtitle text-muted">
            Visualiza y gestiona las órdenes de movilización
          </h5>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- Cambiar para usuarios -->
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Vehiculo</th>
                  <th>Fecha desde</th>
                  <th>Fecha hasta</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Cambiar para usuarios -->
                <tr *ngFor="let orden of ordenes12">
                  <td>{{ orden.id_orden_movilizacion }}</td>
                  <td>{{ orden.empleado_solicitante }}</td>
                  <td>
                    {{
                      orden.vehiculo.length > 25
                        ? orden.vehiculo.slice(0, 25) + "..."
                        : orden.vehiculo
                    }}
                  </td>
                  <td>{{ orden.fecha_desde }}</td>
                  <td>{{ orden.fecha_hasta }}</td>
                  <td>
                    <button
                      class="btn btn-info btn-sm"
                      *ngIf="orden.estado === 'BORRADOR'"
                      style="margin-right: 10px"
                    >
                    Detalle
                    </button>

  
                    <button
                      class="btn btn-info btn-sm"
                      *ngIf="orden.estado === 'RECHAZADA'"
                      style="margin-right: 10px"
                    >
                      Detalle
                    </button>
  
                    <button
                      class="btn btn-info btn-sm"
                      *ngIf="orden.estado === 'ACEPTADA'"
                      style="margin-right: 10px"
                    >
                      Detalle
                    </button>
                    <ng-container *ngIf="orden.estado === 'ENVIADA'">
                      Detalle
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
  
            <!-- Agrega la paginación -->
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a
                    class="page-link"
                    (click)="onPageChange(currentPage - 1)"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li
                  class="page-item"
                  [class.active]="page === currentPage"
                  *ngFor="let page of getPaginationArray()"
                >
                  <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                </li>
                <li
                  class="page-item"
                  [class.disabled]="currentPage === totalPages"
                >
                  <a
                    class="page-link"
                    (click)="onPageChange(currentPage + 1)"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
