<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Matriz de vehículos</h4>
          <h5 class="card-subtitle text-muted">Visualiza y gestiona los vehículos de tu organización</h5>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Categoría</th>
                  <th>Tipo</th>
                  <th>Modelo</th>
                  <th>Placa</th>
                  <th>Código inventario</th>
                </tr>
              </thead>
              <tbody>
                <!-- Itera sobre los datos de la página actual -->
                <tr *ngFor="let vehiculo of vehiculos12">
                  <td>{{ vehiculo.descripcion_categoria}}</td>
                  <td>{{ vehiculo.tipo_vehiculo }}</td>
                  <td>{{ vehiculo.modelo.length > 25 ? vehiculo.modelo.slice(0, 25) + '...' : vehiculo.modelo }}</td>
                  <td>{{ vehiculo.placa}}</td>
                  <td>{{ vehiculo.codigo_inventario }}</td>
                  <td>
                    <button class="btn btn-info btn-sm" style="margin-right: 10px;">Detalle</button>
                    <button class="btn btn-primary btn-sm" style="margin-right: 10px;">Editar</button>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
  
            <!-- Agrega la paginación -->
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" [class.active]="page === currentPage" *ngFor="let page of getPaginationArray()">
                  <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  

