<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lista de usuarios</h4>
          <h5 class="card-subtitle text-muted">Visualiza y gestiona las información tus empleados</h5>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- Cambiar para usuarios -->
                  <th>ID</th>
                  <th>Fecha</th>
                  <th>Empleado</th>
                  <th>Descripción</th>
                  <th>Ciudad Destino</th>
                  <th>Estado</th>
                  <th>Acciones</th> 
                </tr>
              </thead>
              <tbody>
                <!-- Cambiar para usuarios -->
                <tr *ngFor="let informe of informes12">
                  <td>{{ informe.id_informe }}</td>
                  <td>{{ informe.fecha_informe | date:'dd-MM-yyyy' }}</td>
                  <td>{{ informe.empleado }}</td>
                  <td>{{ informe.descripcion_actividades.length > 25 ? informe.descripcion_actividades.slice(0, 25) + '...' : informe.descripcion_actividades }}</td>
                  <td>{{ informe.ciudad_destino }}</td>
                  <td>{{ informe.estado_informe }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" *ngIf="informe.estado_informe === 'BORRADOR'" style="margin-right: 10px;">Editar</button>
                    <button class="btn btn-danger btn-sm" *ngIf="informe.estado_informe === 'BORRADOR'">Eliminar</button>
                
                    <button class="btn btn-info btn-sm" *ngIf="informe.estado_informe === 'RECHAZADA'" style="margin-right: 10px;" (click)="generatePDF()">Detalle</button>
                
                    <button class="btn btn-info btn-sm" *ngIf="informe.estado_informe === 'ACEPTADA'" style="margin-right: 10px;"(click)="generatePDF()">Detalle</button>
                    <ng-container *ngIf="informe.estado_informe === 'ENVIADA'">
                      Esperando...
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
  
            <!-- Agrega la paginación -->
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" [class.active]="page === currentPage" *ngFor="let page of getPaginationArray()">
                  <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
